.profileUserInfo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    }

.userInfo {
    align-self: center;
    margin-left: 10px;
}
.nickname {
    font-size: 1.6vw;
    color: #088dcd;
    text-transform: capitalize
}
.signature {
    font-size: 1vw;
    color: #404040;
    word-break: break-word;
}

.status {
    display: flex;
    margin-top: 10px;
}

.status div {
    padding-right: 10px;
}
.status span {
    font-weight: bold;
}
.profilePosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video{
    padding: 10px;
    width: 14vw;
}